<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wechat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6B28D331E139B2E002BF5B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B28D4C1E139B2E002BF5B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B28D571E139B2E002BF5B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
